.pie-de-pagina {
    background: #bfbfbf;
    color: #fdfdfd;
    text-align: right;
    padding: 1.5625rem 5rem;
    text-transform: lowercase;
    align-items: center;
    text-align: center;
}

.nombre{
  text-decoration-line: none;
}

.nombre:hover{
  text-decoration-line: underline;
}

.logo-footer{
  height: 3%;
  width: 3%;
}   