.pie-de-pagina {
    background: #bfbfbf;
    padding: 1.5625rem 5rem;
    align-items: center;
    text-align: center;
}

.nombre{
  text-decoration-line: none;
  font-weight: bold;
  color: #171616;
}

.nombre:hover{
  text-decoration-line: underline;
}

.logo-footer{
  height: 40px;
  width: 40px;
}   